<div class="card text-center">
  <div class="card-header">
    Data by selecting Country, Year, and Indicator.
  </div>
  <div class="card-body">
    <h5 class="card-title">Single Data Query</h5>
    <p class="card-text">Data can be displayed by selecting country, year, and
      indicator using a drop-down menu.
    </p>
    <a href="/dataQuery" class="btn btn-primary">Go to APP</a>
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    APP by country and indicator.
  </div>
  <div class="card-body">
    <h5 class="card-title">Data by Country and Indicator</h5>
    <p class="card-text">Data available for all years is displayed using this
      app for a chosen Country and Indicator.</p>
    <a href="/dataCountryIndicator" class="btn btn-primary">Go to APP</a>
  </div>
</div>